NODE_ENV = 'development'
PORT = 8080
DB_URI = 'mongodb://localhost:2701/mern_project'

#! jwt 
JWT_SECRET = ''
JWT_EXPIRES_IN = '7d'

#! cookie 
COOKIE_EXPIRES_IN = 7  #in days

#! node mailer


#! cloudinary